<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
    <form action="{% url 'create' %}" method="GET">
        <h3>제목 :</h3>
        <input name="title" type="text">
        <br>
        <br>
        <h3>본문 :</h3>
        <textarea name="body" cols="40" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="제출하기">
    </form>
</body>
</html>