{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>css 과제</title>
	<link rel="stylesheet" href="{% static 'css/soundcloud.css' %}" type="text/css">
</head>
<body>
	<header>
		<div class="header">
			<div class="header-inner">
				<div class="header-left">
					<a class="soundcloud-logo" href="/"></a>
					<nav class="header-tabs">
						<ul>
							<li class="selected-tab header-tab">Home</li>
							<li class="header-tab">Stream</li>
							<li class="header-tab">Library</li>
						</ul>
					</nav>
				</div>
				<div class="searchbar">
					<form action="" class="headerSearch">
						<input class="search-input" type="search" placeholder="Search for artists, bands, tracks, podcasts">
						<button class="search-submit-btn" type="submit">Search</button>
					</form>
				</div>
				<div class="header-right">
					<div class="login-menu">
						<button class="login sc-button" type="button">Sign in</button>
						<button class="account sc-button" type="button">Create account</button>
					</div>
					<div class="upload-menu">
						<a class="upload" href="#">Upload</a>
					</div>
					<a class="more" href=""></a>
				</div>
			</div>
		</div>
	</header>
	<div id="content">
		<div class="inner-content">
			<div class="right-content">
				<div class="r-content">
					<div class="chart">
						<div class="chart-title">
							<h2>Charts: Top 50</h2>
							<p class="chart-text">The most played tracks on SoundCloud this week</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-fuj9h8JG5gy2AHoO-zrH3nQ-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">All music genres</a>
												<span class="tile-subtext">Top 50</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-fuj9h8JG5gy2AHoO-zrH3nQ-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Global Beats</a>
												<span class="tile-subtext">Top 50</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000465134559-jt1kw8-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Hip-hap & Rap</a>
												<span class="tile-subtext">Top 50</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-7nmc0L048KDmtv7Q-aSOK7A-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Pop</a>
												<span class="tile-subtext">Top 50</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-oaxxC8pxAg4DylKm-saWIUw-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">House</a>
												<span class="tile-subtext">Top 50</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Study</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000075046140-457jdg-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Piano Deep Concentration</a>
												<span class="tile-subtext">Nitza Md</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000446064162-wdgv66-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Jazz hip 4</a>
												<span class="tile-subtext">sso</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000208627636-q5rfpn-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">lofi 4 studying</a>
												<span class="tile-subtext">suri</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000147477275-my3dmh-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Stella's Coffee House</a>
												<span class="tile-subtext">Mah</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000456836271-fl3gpw-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Jazz hip 6</a>
												<span class="tile-subtext">soo</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Charts: New & Hot</h2>
							<p class="chart-text">Up-and-coming tracks on SoundCloud</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-nfoS5JbFWDy0Cxn2-zhnmHw-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">All music genres</a>
												<span class="tile-subtext">New & hot</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-nfoS5JbFWDy0Cxn2-zhnmHw-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Global Beats</a>
												<span class="tile-subtext">New & hot</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-zpUVg8dZg4u2QPyT-2yWzBA-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Hip-hap & Rap</a>
												<span class="tile-subtext">New & hot</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-yoYRa1z1yr1c678g-qzB7Mw-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Pop</a>
												<span class="tile-subtext">New & hot</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-G7lHy0adrTWabC1M-4mX9yA-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">House</a>
												<span class="tile-subtext">New & hot</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Chill</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000118219496-njst84-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">musicas relaxantes</a>
												<span class="tile-subtext">lihcogine</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000497390646-w8kzyn-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">jazzhip 7</a>
												<span class="tile-subtext">soo</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000220590459-3jgpib-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Breeze</a>
												<span class="tile-subtext">Yeonkkot</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000405464955-n4ge52-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Morning Chillout</a>
												<span class="tile-subtext">Mighty</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000361848372-jfpz0p-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Never Chill Before</a>
												<span class="tile-subtext">Pineapple Express</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Party</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000606806629-964fdu-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Burning Man</a>
												<span class="tile-subtext">Westcoast Radia (EDM)</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000252155990-aqgzx6-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Summmer 2k17</a>
												<span class="tile-subtext">lilly manning</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-4yR4BDNAp7tpOoHp-izsKTg-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best of MrRevillz</a>
												<span class="tile-subtext">llyana Azman</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000359931777-whjnlr-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best of Deep House (Vol. 02)</a>
												<span class="tile-subtext">Westcoast Radio (EDM)</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000658429759-jlcwkd-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best of House Music (Vol. 01)</a>
												<span class="tile-subtext">Westcoast Radio (EDM)</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Sleep</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000537115623-q6zfx5-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">lofi/sleep</a>
												<span class="tile-subtext">repaintable</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000104946156-2z0ezc-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Billies Sleep Sounds</a>
												<span class="tile-subtext">Billie Kihega</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000168574912-3nhdl7-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Summer Nights</a>
												<span class="tile-subtext">Serene</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000107899443-qxcwl0-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Sleep healing sounds</a>
												<span class="tile-subtext">Jean Claude 5</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000203728610-b1z3md-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Relax '♡'</a>
												<span class="tile-subtext">ReHàß ♪♪</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Workout</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000068787214-gvxmhp-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best Progessive House (All-Time)</a>
												<span class="tile-subtext">Westcoast Radio (EDM)</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-sXD0DWC1ZoxgkMiG-J7pWuQ-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">#Workout #Electronic</a>
												<span class="tile-subtext">Tere Mancha</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-103slEkYPNYywlgV-LKOKVg-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best Of Chill Nation</a>
												<span class="tile-subtext">Ilyana Azman</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000359931777-whjnlr-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Best of Deep House (Vol. 02)</a>
												<span class="tile-subtext">Westcoast Radio (EDM)</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000138695695-468aa6-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Playlist 001 (Hard beats) - Gold's Gym Egypt</a>
												<span class="tile-subtext">Golds' Gym Egypt Radio</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chart">
						<div class="chart-title">
							<h2>Relax</h2>
							<p class="chart-text">Popular playlists from the SoundCloud community</p>
						</div>
						<div class="chart-gallery">
							<div class="tile-gallery">
								<div class="tile-content">
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000606765943-jdxnq2-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Lo-Fi Vietnam Chill</a>
												<span class="tile-subtext">Winter. Hi Hii Hiii</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000497390646-w8kzyn-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">jazzhip 7</a>
												<span class="tile-subtext">soo</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000405464955-n4ge52-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">Morning Chillout</a>
												<span class="tile-subtext">Mighty</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000102883401-dj4tby-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">meditation</a>
												<span class="tile-subtext">Rehan Khan 55</span>
											</div>
										</div>
									</div>
									<div class="tile">
										<div class="tile-img">
											<div class="tile-img2">
												<div class="tile-img3">
													<div class="tile-img4">
														<span class="tile-image" style='background-image: url("https://i1.sndcdn.com/artworks-000134890657-dqetcc-t200x200.jpg"); width: 100%; height: 100%; opacity: 1;' aria-role="img"></span>
													</div>
												</div>
											</div>
											<div class="tile-texts">
												<a class="tile-text" href="">ChillaxMood</a>
												<span class="tile-subtext">J e z i k a ♡</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="side">
				<article class="mobile">
					<div class="gomobile">
						<span class="gomobile">Go mobile</span>
					</div>
					<div class="stores">
						<div class="store">
							<a class="appstore" href="https://itunes.apple.com/us/app/soundcloud/id336353151?mt=8"></a>
							<a class="googleplay" href="https://play.google.com/store/apps/details?id=com.soundcloud.android&hl=us&referrer=utm_source%3Dsoundcloud%26utm_medium%3Dweb%26utm_campaign%3Dweb_xsell_discover_page"></a>
						</div>
					</div>
					<div class="policy">
						<span>Legal ⁃ Privacy ⁃ Cookie Policy ⁃ Cookie Manager ⁃ Imprint ⁃ Creator Resources ⁃ Blog ⁃ Charts ⁃ Popular searches</span>
						<br><span class="lang">Language:</span><span style="color: #333;"> English (US)</span>
					</div>
				</article>
			</div>
		</div>
	</div>
</body>
</html>